In [1]:
import numpy as np #import numpy library
import pandas as pd #import pandas library
import matplotlib.pyplot as plt #import matplot library
%matplotlib inline

In [4]:
#Biometric Data individual days and merge together!

#load files
bio1 = pd.read_csv('sarahYee/metrics/basis-data-2016-04-23-metrics.csv')
bio2 = pd.read_csv('sarahYee/metrics/basis-data-2016-04-24-metrics.csv')
bio3 = pd.read_csv('sarahYee/metrics/basis-data-2016-04-25-metrics.csv')

#merge bio files
bioData = bio1.append([bio2, bio3])

#make sure all merged properly!
print(bioData.shape) #print data rows and columns
bioData.tail(5) #limit data to 5 rows including a header row

(4320, 7)

,timestamp,heartrate,steps,calories,gsr,skintemp,airtemp
1435,2016-04-25 23:55:00,71,0,1.1,0.000083,89.6,85.1
1436,2016-04-25 23:56:00,70,0,1.0,0.000082,89.6,85.1
1437,2016-04-25 23:57:00,69,0,1.0,0.000082,89.6,85.1
1438,2016-04-25 23:58:00,68,0,1.1,0.000082,89.6,86.0
1439,2016-04-25 23:59:00,69,0,1.0,0.000087,89.6,86.0

In [5]:
#Activity Data individual days and merge together!

#load data
act1 = pd.read_csv('sarahYee/activities/basis-data-2016-04-23-activities.csv') #attach Amazon data to a var called data
act2 = pd.read_csv('sarahYee/activities/basis-data-2016-04-24-activities.csv') #attach Amazon data to a var called data
act3 = pd.read_csv('sarahYee/activities/basis-data-2016-04-25-activities.csv') #attach Amazon data to a var called data

#merge bio files
actData = act1.append([act2, act3])

#fix time
actData['start time'] = pd.to_datetime(actData['start time'], unit='s')
actData['end time'] = pd.to_datetime(actData['end time'], unit='s')

#make sure all merged properly!
print(actData.shape) #print data rows and columns
# bioData.head(5) #limit data to 5 rows including a header row 
actData.head(50) #limit data to 5 rows including a header row

(25, 19)

,start time,start time ISO,start time timezone,start time offset,end time,end time ISO,end time timezone,end time offset,type,actual seconds,steps,calories,minutes,heart rate avg,heart rate min,heart rate max,state,version,id
0,2016-04-23 15:09:43,2016-04-23T15:09:43Z,America/New_York,-240,2016-04-23 15:16:29,2016-04-23T15:16:29Z,America/New_York,-240,walk,293,608,22.600000,6.766667,116.911263,NaN,NaN,complete,1,walk__2016-04-23T150943
1,2016-04-23 15:46:35,2016-04-23T15:46:35Z,America/New_York,-240,2016-04-23 16:02:08,2016-04-23T16:02:08Z,America/New_York,-240,walk,894,1747,92.300003,15.550000,126.341164,NaN,NaN,complete,1,walk__2016-04-23T154635
2,2016-04-23 16:50:04,2016-04-23T16:50:04Z,America/New_York,-240,2016-04-23 16:59:24,2016-04-23T16:59:24Z,America/New_York,-240,walk,185,317,8.000000,9.333333,107.378380,NaN,NaN,complete,1,walk__2016-04-23T165004
3,2016-04-23 17:41:10,2016-04-23T17:41:10Z,America/New_York,-240,2016-04-23 18:01:47,2016-04-23T18:01:47Z,America/New_York,-240,walk,917,1767,67.800003,20.616667,115.990189,NaN,NaN,complete,1,walk__2016-04-23T174110
4,2016-04-23 18:23:15,2016-04-23T18:23:15Z,America/New_York,-240,2016-04-23 18:33:53,2016-04-23T18:33:53Z,America/New_York,-240,walk,379,777,30.100000,10.633333,112.570694,NaN,NaN,complete,1,walk__2016-04-23T182315
5,2016-04-23 18:51:40,2016-04-23T18:51:40Z,America/New_York,-240,2016-04-23 18:57:28,2016-04-23T18:57:28Z,America/New_York,-240,walk,298,586,14.200000,5.800000,104.244965,NaN,NaN,complete,1,walk__2016-04-23T185140
6,2016-04-23 22:24:10,2016-04-23T22:24:10Z,America/New_York,-240,2016-04-23 22:35:50,2016-04-23T22:35:50Z,America/New_York,-240,walk,286,562,24.600000,11.666667,115.961540,NaN,NaN,complete,1,walk__2016-04-23T222410
7,2016-04-23 22:43:46,2016-04-23T22:43:46Z,America/New_York,-240,2016-04-23 22:57:14,2016-04-23T22:57:14Z,America/New_York,-240,walk,659,1285,67.000000,13.466667,123.262520,NaN,NaN,complete,1,walk__2016-04-23T224346
8,2016-04-23 23:33:18,2016-04-23T23:33:18Z,America/New_York,-240,2016-04-23 23:40:05,2016-04-23T23:40:05Z,America/New_York,-240,walk,391,823,45.099998,6.783333,125.347824,NaN,NaN,complete,1,walk__2016-04-23T233318
9,2016-04-23 23:52:15,2016-04-23T23:52:15Z,America/New_York,-240,2016-04-23 23:57:42,2016-04-23T23:57:42Z,America/New_York,-240,walk,247,490,33.000000,5.450000,139.530365,NaN,NaN,complete,1,walk__2016-04-23T235215
0,2016-04-24 17:32:55,2016-04-24T17:32:55Z,America/New_York,-240,2016-04-24 17:38:43,2016-04-24T17:38:43Z,America/New_York,-240,walk,256,511,21.700001,5.800000,121.269531,NaN,NaN,complete,1,walk__2016-04-24T173255
1,2016-04-24 23:04:02,2016-04-24T23:04:02Z,America/New_York,-240,2016-04-24 23:15:35,2016-04-24T23:15:35Z,America/New_York,-240,walk,532,1140,38.599998,11.550000,115.353386,NaN,NaN,complete,1,walk__2016-04-24T230402
2,2016-04-24 23:31:49,2016-04-24T23:31:49Z,America/New_York,-240,2016-04-24 23:42:19,2016-04-24T23:42:19Z,America/New_York,-240,walk,478,890,33.599998,10.500000,113.855652,NaN,NaN,complete,1,walk__2016-04-24T233149
3,2016-04-24 23:44:41,2016-04-24T23:44:41Z,America/New_York,-240,2016-04-24 23:57:41,2016-04-24T23:57:41Z,America/New_York,-240,walk,432,848,32.000000,13.000000,113.849541,NaN,NaN,complete,1,walk__2016-04-24T234441
0,2016-04-25 13:10:45,2016-04-25T13:10:45Z,America/New_York,-240,2016-04-25 13:14:15,2016-04-25T13:14:15Z,America/New_York,-240,bike,210,NaN,5.800000,3.500000,90.804764,NaN,NaN,complete,1,bike__2016-04-25T131045
1,2016-04-25 13:18:09,2016-04-25T13:18:09Z,America/New_York,-240,2016-04-25 13:28:50,2016-04-25T13:28:50Z,America/New_York,-240,walk,420,901,46.299999,10.683333,125.156540,NaN,NaN,complete,1,walk__2016-04-25T131809
2,2016-04-25 13:40:31,2016-04-25T13:40:31Z,America/New_York,-240,2016-04-25 13:47:39,2016-04-25T13:47:39Z,America/New_York,-240,walk,290,639,36.299999,7.133333,132.096024,NaN,NaN,complete,1,walk__2016-04-25T134031
3,2016-04-25 15:46:30,2016-04-25T15:46:30Z,America/New_York,-240,2016-04-25 15:53:11,2016-04-25T15:53:11Z,America/New_York,-240,walk,200,382,16.200001,6.683333,118.730003,NaN,NaN,complete,1,walk__2016-04-25T154630
4,2016-04-25 15:57:26,2016-04-25T15:57:26Z,America/New_York,-240,2016-04-25 16:06:23,2016-04-25T16:06:23Z,America/New_York,-240,walk,193,296,6.500000,8.950000,99.860107,NaN,NaN,complete,1,walk__2016-04-25T155726
5,2016-04-25 19:31:31,2016-04-25T19:31:31Z,America/New_York,-240,2016-04-25 19:43:28,2016-04-25T19:43:28Z,America/New_York,-240,walk,402,724,32.400002,11.950000,116.002296,NaN,NaN,complete,1,walk__2016-04-25T193131
6,2016-04-25 20:44:24,2016-04-25T20:44:24Z,America/New_York,-240,2016-04-25 20:53:16,2016-04-25T20:53:16Z,America/New_York,-240,walk,348,728,26.299999,8.866667,111.149422,NaN,NaN,complete,1,walk__2016-04-25T204424
7,2016-04-25 21:42:28,2016-04-25T21:42:28Z,America/New_York,-240,2016-04-25 21:49:23,2016-04-25T21:49:23Z,America/New_York,-240,walk,372,691,33.299999,6.916667,118.666664,NaN,NaN,complete,1,walk__2016-04-25T214228
8,2016-04-25 23:46:09,2016-04-25T23:46:09Z,America/New_York,-240,2016-04-25 23:57:53,2016-04-25T23:57:53Z,America/New_York,-240,walk,351,769,34.200001,11.733333,118.170212,NaN,NaN,complete,1,walk__2016-04-25T234609
9,2016-04-26 01:37:46,2016-04-26T01:37:46Z,America/New_York,-240,2016-04-26 01:42:41,2016-04-26T01:42:41Z,America/New_York,-240,walk,216,466,13.200000,4.916667,110.152779,NaN,NaN,complete,1,walk__2016-04-26T013746
10,2016-04-26 01:50:26,2016-04-26T01:50:26Z,America/New_York,-240,2016-04-26 02:05:03,2016-04-26T02:05:03Z,America/New_York,-240,walk,431,796,32.799999,14.616667,117.231308,NaN,NaN,complete,1,walk__2016-04-26T015026

In [6]:
# convert timestamp to datetime
bioData['timestamp'] = pd.to_datetime(bioData['timestamp'])
bioData.head(5)

            timestamp  heartrate  steps  calories       gsr  skintemp  airtemp
0 2016-04-23 00:00:00         91      0       1.4  0.000059      92.3     89.6
1 2016-04-23 00:01:00         92      0       1.5  0.000059      92.3     89.6
2 2016-04-23 00:02:00         94      0       1.6  0.000062      92.3     89.6
3 2016-04-23 00:03:00         95      0       1.7  0.000059      92.3     89.6
4 2016-04-23 00:04:00         98      0       1.7  0.000061      92.3     89.6

In [7]:
# function that takes any journal or activity data and creates indicators for activities or emotions

def makeIndicators(newvar, activity, bioData, journalData, journal_startdatetime_loc, journal_enddatetime_loc, journal_activity_loc):
    '''
    Create boolean indicator variable for activities or emotions
    newvar, string for name of new indicator variable
    activity, string that matches the name of the activity or emotion in the journalData data frame
    bioData, data frame of input biometric data
    journalData, data frame of input journal or activity data
    journal_startdatetime_loc, int of position of the start datetime in journalData
    journal_enddatetime_loc, int of position of the end datetime in journalData
    journal_activity_loc, int of position of the activity or emotion in journalData
    '''

    bioData[newvar] = False

    for i in range(0, journalData.shape[0]):
        bioData['xlt'] = (bioData['timestamp'] >= pd.to_datetime(journalData.iloc[i, journal_startdatetime_loc]))
        bioData['xgt'] = (bioData['timestamp'] <= pd.to_datetime(journalData.iloc[i, journal_enddatetime_loc]))
        bioData['xw'] = (journalData.iloc[i, journal_activity_loc] == activity)
        bioData['xsum'] = bioData['xlt'].astype(int) + bioData['xgt'].astype(int) + bioData['xw'].astype(int)
        bioData.loc[bioData['xsum']==3, newvar] = True
    
    bioData = bioData.drop(['xlt', 'xgt', 'xw', 'xsum'], axis=1)
    return bioData

In [8]:
# indicator for walking
bioData = makeIndicators('walking', 'walk', bioData, actData, 1, 5, 8)

# indicator for biking
bioData = makeIndicators('biking', 'bike', bioData, actData, 1, 5, 8)

# check work

In [9]:
# check that indicators were created correctly
print(bioData.head())
print(bioData.describe())

# save bioData as csv to check more closely 
bioData.to_csv('testbio.csv')

            timestamp  heartrate  steps  calories       gsr  skintemp  \
0 2016-04-23 00:00:00         91      0       1.4  0.000059      92.3
1 2016-04-23 00:01:00         92      0       1.5  0.000059      92.3
2 2016-04-23 00:02:00         94      0       1.6  0.000062      92.3
3 2016-04-23 00:03:00         95      0       1.7  0.000059      92.3
4 2016-04-23 00:04:00         98      0       1.7  0.000061      92.3

   airtemp walking biking
0     89.6   False  False
1     89.6   False  False
2     89.6   False  False
3     89.6   False  False
4     89.6   False  False
         heartrate        steps     calories          gsr     skintemp  \
count  4238.000000  4320.000000  4320.000000  4203.000000  4218.000000
mean     88.085654     8.009954     1.721065     0.059837    90.297297
std      16.600726    24.340681     1.301502     0.515494     3.541854
min      60.000000     0.000000     0.500000     0.000048    78.800000
25%      73.000000     0.000000     1.000000     0.000062    88.700000
50%      88.000000     0.000000     1.300000     0.000079    90.500000
75%      99.000000     0.000000     1.800000     0.000132    92.300000
max     154.000000   141.000000     9.800000    10.500000    96.800000

           airtemp   walking       biking
count  4218.000000      4320         4320
mean     86.919203  0.050463  0.000925926
std       4.780429  0.218924    0.0304185
min      68.900000     False        False
25%      84.200000         0            0
50%      86.900000         0            0
75%      89.600000         0            0
max      96.800000      True         True